
h1 {
  margin-bottom: 15px;
}


/* .navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  max-width: 1140px;
} */

.navbar-logo {

}

.nav-list {
display: flex;
align-items: center;
list-style: none;
width: 100%;
flex-wrap: nowrap;
font-family: 'Josefin Sans', sans-serif;
font-weight: 400;
list-style: none;
}

.list {
  position: fixed;
  flex: 0 0 auto;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 1rem 2rem;
  letter-spacing: .1rem;
}

.list a {
  text-decoration: none;
  color: rgb(150, 131, 175);
}
 
.nav-list .list:nth-child(1) {
  top: 20px;
  left: 30px;
} 

.nav-list .list:nth-child(2) {
  top: 20px;
  right: 1rem;
} 

.nav-list .list:nth-child(3) {
  top: 90vh;
  left: 30px;
} 

.nav-list .list:nth-child(4) {
  top: 90vh;
  right: 1rem;
} 

/* HEADER */

.header {
  background: transparent;
}

.header .container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 3rem;
  overflow-y: hidden;
}

/* .header .container h1 {
  font-size: 3rem;
  color: #fff;
  padding: 0 3rem;
} */

.header .container p {
  color: #fff;
  padding: 0 3rem;

}

.card {
  background: rgb(95, 115, 146);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}
.card img {
  width: 100%;
}

/* FOOTER */

.l_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.social_footer {
  position: fixed;
  bottom: 2rem;
}

.l_footer .social_footer ul {
  display: flex;
  list-style-type: none;
  width: auto;
  font-weight: 300;
  padding-right: 1rem;
  z-index: 9;
}

.l_footer .social_footer  ul li a{
  font-size: 1.6rem;
  margin: 2rem 1rem;
  color: rgba(247, 247, 247, 0.616);
  list-style-type: none;
  transition: transform .3s ease;
}

.social_footer  ul li a:hover {
  transition: transform .3s ease;
  color: rgb(255, 255, 255);

}